body{
background-color: teal;
text-align: center;
color: black;
font-family: 'Hind Siliguri', sans-serif;
font-size: 50px;
}

h1{
    font-size: 100px;
    color: white;
    font-family: 'Hind Siliguri', sans-serif;
}

